<div class="flex flex-col text-textBlack h-screen overflow-hidden">
    <!-- Sticky Header -->
    <div class="w-full z-10 fixed top-0">
        <app-header></app-header>
    </div>

    <!-- Main Content Area with Sidebar -->
    <div class="flex mt-20">
        <!-- Sticky Sidebar -->
        <div class="fixed w-64 h-full overflow-y-auto">
            <app-sidenav></app-sidenav>
        </div>

        <!-- Router Outlet Content -->
        <div class=" ml-64 py-4 px-8 bg-gray-50 overflow-y-auto w-full h-screen">
            <router-outlet class=""></router-outlet>
        </div>
    </div>
</div>

