<div class="flex flex-wrap justify-center items-start thin-border-gray-r h-full px-2">
    <ul class="flex flex-col gap-1 w-full px-2 font-normal text-sm ">
        <li class="text-xs text-zinc-400 px-3 mt-4">Basic</li>
        <li><a class="side-list-item " routerLink="/home" routerLinkActive="active"><i class="fa fa-home"></i>Home
        </a></li>
        <li><a class="side-list-item" routerLink="/players" routerLinkActive="active"><i class="fa fa-futbol"></i>
            Players</a></li>
        <li><a class="side-list-item" routerLink="/players/top" routerLinkActive="active"><i class="fa fa-star"></i>Top
            Players</a></li>
        <li><a class="side-list-item" routerLink="/contact" routerLinkActive="active"><i class="fa fa-search"></i>Search
        </a></li>

        <li class="text-xs text-zinc-400 px-3 mt-4">User</li>
        <li><a class="side-list-item" routerLink="/profile" routerLinkActive="active"><i class="fa fa-user"></i>Profile
        </a></li>
        <li><a class="side-list-item" routerLink="/favorite" routerLinkActive="active"><i
                class="fa fa-star"></i>Favorites
        </a></li>
        <li><a class="side-list-item" routerLink="/ratings" routerLinkActive="active"><i class="fa fa-star-half"></i>
            Ratings</a></li>
        <li><a class="side-list-item" routerLink="/history" routerLinkActive="active"><i class="fa fa-history"></i>
            History</a></li>

        <li class="text-xs text-zinc-400 px-3 mt-4">Ratings & Stats</li>
        <li><a class="side-list-item" routerLink="/ranking" routerLinkActive="active"><i class="fa fa-trophy"></i>
            Rankings</a></li>
        <li><a class="side-list-item" routerLink="/settings" routerLinkActive="active"><i class="fa fa-cog"></i>Settings
        </a></li>

        <li class="text-xs text-zinc-400 px-3 mt-4">Setting & Extras</li>
        <li><a class="side-list-item" routerLink="/field" routerLinkActive="active"><i class="fa fa-futbol"></i>Field
        </a></li>
        <li><a class="side-list-item" routerLink="/photos" routerLinkActive="active"><i class="fa fa-camera"></i>Photos
        </a></li>
        <li><a class="side-list-item" routerLink="/stats" routerLinkActive="active"><i class="fa fa-chart-bar"></i>Stats
        </a></li>
    </ul>
</div>