<div class="flex flex-wrap justify-center gap-5 ">
    <div class="w-80 h-80 bg-white thin-border-gray"></div>
    <div class="w-80 h-80 bg-white thin-border-gray"></div>
    <div class="w-80 h-80 bg-white thin-border-gray"></div>
    <div class="w-80 h-80 bg-white thin-border-gray"></div>
    <div class="w-80 h-80 bg-white thin-border-gray"></div>
    <div class="w-80 h-80 bg-white thin-border-gray"></div>
    <div class="w-80 h-80 bg-white thin-border-gray"></div>
    <div class="w-80 h-80 bg-white thin-border-gray"></div>
    <div class="w-80 h-80 bg-white thin-border-gray"></div>
    <div class="w-80 h-80 bg-white thin-border-gray"></div>
    <div class="w-80 h-80 bg-white thin-border-gray"></div>
    <div class="w-80 h-80 bg-white thin-border-gray"></div>
    <div class="w-80 h-80 bg-white thin-border-gray"></div>
    <div class="w-80 h-80 bg-white thin-border-gray"></div>
    <div class="w-80 h-80 bg-white thin-border-gray"></div>
    <div class="w-80 h-80 bg-white thin-border-gray"></div>
</div>