<div
        class="relative h-fit w-64 gap-2 overflow-hidden rounded-sm rounded-xl border border-gray-200 bg-white shadow-lg"
>
  <!-- Image Section -->
  <div
          *ngIf="!isImageAvailable()"
          class="flex h-64 w-64 items-center justify-center bg-gray-300"
  >
    <span class="text-white">No Image</span>
  </div>
  <img
          *ngIf="isImageAvailable()"
          alt="{{ playerInfo.strPlayer }}"
          class="w-64 bg-cover shadow-lg"
          src="{{ playerInfo.strCutout }}"
  />

  <!-- Player Information -->
  <div class="flex flex-col items-center gap-2 py-3">
    <span class="text-lg font-bold text-textBlack">{{ playerInfo.strPlayer }}</span>
    <span class="text-sm text-primaryGray">{{ playerInfo.strNationality }}</span>
    <span class="text-sm text-primaryGray">{{ playerInfo.strTeam }}</span>
  </div>

  <!-- Yellow bar rotated at 45 degrees -->
  <div
          class="absolute top-0 right-0 z-40 h-3 w-1/3 translate-x-1/3 rotate-45 bg-yellow-500"
          *ngIf="authService.isAuthenticated() && isAddedToFav"
  ></div>

  <!-- Action Buttons -->
  <div class="mb-4 flex items-center justify-center gap-3 text-sm font-normal">
    <button
            (click)="onAddToFav(playerInfo.idPlayer)"
            *ngIf="authService.isAuthenticated() && !isAddedToFav"
            class="rounded-md border border-gray-200 px-4 py-2 shadow-md duration-150 bg-cardWhite hover:bg-primaryBorderGrey hover:text-textBlack"
    >
      Add to Fav
    </button>
    <button
            *ngIf="authService.isAuthenticated() && isAddedToFav"
            class="rounded-md border border-gray-200 px-2 py-1 shadow-md duration-150 bg-cardWhite hover:bg-primaryBorderGrey"
    >
      <i class="text-base text-yellow-500 duration-150 fa fa-star"></i>
    </button>
    <button
            class="rounded-md border border-gray-200 px-4 py-2 shadow-md duration-150 bg-cardWhite hover:bg-primaryBorderGrey"
    >
      Profile
    </button>
  </div>

  <!-- Response Message -->
  <div
          *ngIf="responseMessage"
          class="absolute top-3 left-4  z-30 rounded-md px-8 py-4 font-medium shadow-md shadow-gray-300 bg-primaryGreen text-cardWhite"
  >
    {{ responseMessage }}
  </div>
</div>
